@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.plats {
  animation-duration: 5s;
  animation-name: vew;
}
@keyframes vew {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desserts {
  animation-duration: 7s;
  animation-name: vew;
}
@keyframes vew {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
    font-size: small;
    width: 100%;
  }
  body .logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  body .logo img {
    width: 50%;
  }
  body .bouton {
    border: solid grey 1px;
    box-shadow: 0px -2px grey;
    width: 100%;
    padding: 3%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  body .bouton .fa-location-dot {
    margin-right: 10px;
  }
  body article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body article .titre {
    font-weight: 900;
    margin-bottom: 10px;
  }
  body article p {
    margin-bottom: 10px;
    text-align: center;
  }
  body article p:nth-child(even) {
    color: gray;
  }
  body article .explorer {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 20px;
    font-size: large;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  body .liste h2 {
    font-weight: bold;
    font-size: large;
    margin-left: 15px;
  }
  body .liste ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .liste ul li {
    display: flex;
    align-items: center;
    font-size: large;
    width: 20%;
    margin-bottom: 50px;
    padding: 3px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 8px rgb(199, 196, 196);
    background-color: rgb(242, 236, 236);
  }
  body .liste ul li :hover .fa-solid {
    color: #9356DC;
  }
  body .liste ul li span {
    background-color: #9356DC;
    color: white;
    margin-left: -25px;
    margin-right: 15px;
    z-index: 5;
    border-radius: 100%;
    width: 15px;
    padding: 5px;
    display: flex;
  }
  body .liste ul li .fa-solid {
    font-size: medium;
    color: gray;
    margin-right: 15px;
  }
  body .restaurants {
    background-color: rgb(242, 236, 236);
    padding: 30px 0 50px;
  }
  body .restaurants h2 {
    font-weight: bold;
    display: flex;
    font-size: large;
    margin-left: 19px;
    margin-bottom: 14px;
  }
  body .restaurants .photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  body .restaurants .photo p {
    width: 45%;
    margin-bottom: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 5px grey;
    position: relative;
  }
  body .restaurants .photo p .new {
    width: 60px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: #023f30;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  body .restaurants .photo p .tout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
  }
  body .restaurants .photo p .tout .heart .fa-solid {
    display: none;
    margin-left: -50px;
  }
  body .restaurants .photo p .tout .heart .fa-regular {
    display: block;
    margin-left: -50px;
  }
  body .restaurants .photo p .tout .heart:hover .fa-solid {
    display: block;
    color: #9356DC;
    cursor: pointer;
  }
  body .restaurants .photo p .tout .heart:hover .fa-regular {
    display: none;
  }
  body .restaurants .photo p img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body .restaurants .photo p .txt {
    padding: 12px;
  }
  body .restaurants .photo p strong {
    font-weight: 900;
  }
  footer {
    background-color: rgb(61, 61, 61);
    color: white;
  }
  footer h3 {
    font-family: "Shrikhand";
    margin: 10px 0 20px 10px;
    font-size: x-large;
  }
  footer li {
    margin: 10px 0 10px 10px;
  }
  footer a {
    text-decoration: none;
  }
  .menuLogo {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
  }
  .menuLogo .fa-solid {
    font-size: large;
  }
  .menuLogo img {
    width: 60%;
  }
  main .back1 {
    background-image: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back2 {
    background-image: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back3 {
    background-image: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back4 {
    background-image: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .carte {
    border-radius: 35px;
    background-color: white;
    margin-top: -35px;
    z-index: 3;
  }
  main .carte h3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 10px;
    font-family: "Shrikhand";
  }
  main .carte h3 span {
    font-size: large;
    font-weight: 500;
  }
  main .carte h3 .fa-regular {
    font-size: x-large;
    color: rgb(96, 96, 96);
  }
  main .carte .entree, main .carte .plats, main .carte .desserts {
    animation-duration: 4s;
    animation-name: vew;
  }
  @keyframes vew {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  main .carte .entree h4, main .carte .plats h4, main .carte .desserts h4 {
    padding-top: 10px;
    margin-left: 15px;
    width: 10%;
    border-bottom: #99E2D0 solid 3px;
    margin-bottom: 10px;
  }
  main .carte .entree p, main .carte .plats p, main .carte .desserts p {
    font-size: small;
    margin: 10px 5px 15px 5px;
    box-shadow: 1px 5px rgb(225, 224, 224);
    border: 1px solid rgb(255, 249, 249);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }
  main .carte .entree p .choix, main .carte .plats p .choix, main .carte .desserts p .choix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    align-items: center;
  }
  main .carte .entree p .choix .repas, main .carte .plats p .choix .repas, main .carte .desserts p .choix .repas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .carte .entree p .choix .bouffe, main .carte .plats p .choix .bouffe, main .carte .desserts p .choix .bouffe {
    font-weight: 900;
    margin-bottom: 5px;
  }
  main .carte .entree p.p1, main .carte .plats p.p1, main .carte .desserts p.p1 {
    animation-delay: 2s;
  }
  main .carte .entree p.p2, main .carte .plats p.p2, main .carte .desserts p.p2 {
    animation-delay: 4s;
  }
  main .carte .entree p.p3, main .carte .plats p.p3, main .carte .desserts p.p3 {
    animation-delay: 6s;
  }
  main .carte .entree p.p4, main .carte .plats p.p4, main .carte .desserts p.p4 {
    animation-delay: 8s;
  }
  main .carte .entree p strong, main .carte .plats p strong, main .carte .desserts p strong {
    font-weight: 600;
    font-size: small;
  }
  main .carte .entree p .fa-solid, main .carte .plats p .fa-solid, main .carte .desserts p .fa-solid {
    display: none;
  }
  main .carte .entree p:hover .choix, main .carte .plats p:hover .choix, main .carte .desserts p:hover .choix {
    width: 88%;
    animation-duration: 1s;
    animation-name: retract;
  }
  @keyframes retract {
    from {
      width: 100%;
    }
    to {
      width: 88%;
    }
  }
  main .carte .entree p:hover .fa-solid, main .carte .plats p:hover .fa-solid, main .carte .desserts p:hover .fa-solid {
    animation-duration: 1s;
    animation-name: valid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    color: white;
    border-radius: 0 15% 15% 0;
    background-color: #99E2D0;
    width: 10%;
    height: 100%;
    z-index: 3;
  }
  @keyframes valid {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 0;
    }
  }
  main .carte .commande {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 2%;
    color: white;
    width: 80%;
    margin: 3% 10% 3% 10%;
    font-size: x-large;
  }
  main .carte .commande:hover {
    box-shadow: 0 6px 5px #FF79DA;
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-family: "Roboto", sans-serif;
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  body .logo img {
    width: 50%;
  }
  body .bouton {
    border: solid grey 1px;
    box-shadow: 0px -2px grey;
    width: 100%;
    padding: 3%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  body .bouton .fa-location-dot {
    margin-right: 10px;
  }
  body article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body article .titre {
    width: 60%;
    font-weight: 900;
    margin-bottom: 10px;
  }
  body article p {
    margin-bottom: 10px;
    text-align: center;
  }
  body article p:nth-child(even) {
    color: gray;
  }
  body article .explorer {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 8px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  body article .explorer:hover {
    box-shadow: 0 6px 5px #FF79DA;
    cursor: pointer;
  }
  body .liste h2 {
    font-weight: bold;
    font-size: large;
    margin-left: 15px;
  }
  body .liste ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .liste ul li {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 8px rgb(199, 196, 196);
    background-color: rgb(242, 236, 236);
  }
  body .liste ul li:hover {
    cursor: pointer;
  }
  body .liste ul li :hover .fa-solid {
    color: #9356DC;
  }
  body .liste ul li span {
    background-color: #9356DC;
    color: white;
    margin-left: -25px;
    margin-right: 15px;
    z-index: 3;
    border-radius: 50%;
    width: 15px;
    padding: 4px;
    font-size: large;
  }
  body .liste ul li .fa-solid {
    font-size: medium;
    color: gray;
    margin-right: 15px;
  }
  body .restaurants {
    background-color: rgb(242, 236, 236);
    padding: 30px 0 50px;
  }
  body .restaurants h2 {
    font-weight: bold;
    display: flex;
    font-size: large;
    margin-left: 19px;
    margin-bottom: 14px;
  }
  body .restaurants .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .restaurants .photo p {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 5px grey;
    position: relative;
  }
  body .restaurants .photo p .new {
    width: 60px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: #023f30;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  body .restaurants .photo p .tout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body .restaurants .photo p .tout .heart .fa-solid {
    display: none;
  }
  body .restaurants .photo p .tout .heart:hover .fa-solid {
    display: block;
    color: #9356DC;
    cursor: pointer;
    animation-duration: 5s;
    animation-name: remplis;
  }
  @keyframes remplis {
    from {
      color: white;
    }
    to {
      color: #9356DC;
    }
  }
  body .restaurants .photo p .tout .heart:hover .fa-regular {
    display: none;
  }
  body .restaurants .photo p img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  body .restaurants .photo p .txt {
    padding: 10px;
  }
  body .restaurants .photo p strong {
    font-weight: 900;
  }
  footer {
    background-color: rgb(61, 61, 61);
    color: white;
  }
  footer h3 {
    font-family: "Shrikhand";
    margin: 10px 0 20px 10px;
  }
  footer li {
    margin: 10px 0 10px 10px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  .menuLogo {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
  }
  .menuLogo .fa-solid {
    font-size: large;
  }
  .menuLogo img {
    width: 60%;
  }
  main .back1 {
    background-image: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back2 {
    background-image: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back3 {
    background-image: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .back4 {
    background-image: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  main .carte {
    border-radius: 35px;
    background-color: white;
    margin-top: -35px;
    z-index: 3;
  }
  main .carte h3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 10px;
    font-family: "Shrikhand";
  }
  main .carte h3 span {
    font-size: large;
    font-weight: 500;
  }
  main .carte h3 .heart .fa-solid {
    display: none;
  }
  main .carte h3 .heart .fa-regular {
    font-size: x-large;
  }
  main .carte h3 .heart:hover .fa-solid {
    display: block;
    font-size: x-large;
    color: #9356DC;
    cursor: pointer;
    animation-duration: 5s;
    animation-name: remplis;
  }
  @keyframes remplis {
    from {
      color: white;
    }
    to {
      color: #9356DC;
    }
  }
  main .carte h3 .heart:hover .fa-regular {
    display: none;
  }
  main .carte .entree, main .carte .plats, main .carte .desserts {
    animation-duration: 4s;
    animation-name: vew;
  }
  @keyframes vew {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  main .carte .entree h4, main .carte .plats h4, main .carte .desserts h4 {
    padding-top: 10px;
    margin-left: 15px;
    width: 10%;
    border-bottom: #99E2D0 solid 3px;
    margin-bottom: 10px;
  }
  main .carte .entree p, main .carte .plats p, main .carte .desserts p {
    font-size: small;
    margin: 10px 5px 15px 5px;
    box-shadow: 1px 5px rgb(225, 224, 224);
    border: 1px solid rgb(255, 249, 249);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }
  main .carte .entree p .choix, main .carte .plats p .choix, main .carte .desserts p .choix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    align-items: center;
  }
  main .carte .entree p .choix .repas, main .carte .plats p .choix .repas, main .carte .desserts p .choix .repas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .carte .entree p .choix .bouffe, main .carte .plats p .choix .bouffe, main .carte .desserts p .choix .bouffe {
    font-weight: 900;
    margin-bottom: 5px;
  }
  main .carte .entree p.p1, main .carte .plats p.p1, main .carte .desserts p.p1 {
    animation-delay: 2s;
  }
  main .carte .entree p.p2, main .carte .plats p.p2, main .carte .desserts p.p2 {
    animation-delay: 4s;
  }
  main .carte .entree p.p3, main .carte .plats p.p3, main .carte .desserts p.p3 {
    animation-delay: 6s;
  }
  main .carte .entree p.p4, main .carte .plats p.p4, main .carte .desserts p.p4 {
    animation-delay: 8s;
  }
  main .carte .entree p strong, main .carte .plats p strong, main .carte .desserts p strong {
    font-weight: 600;
    font-size: small;
  }
  main .carte .entree p .fa-solid, main .carte .plats p .fa-solid, main .carte .desserts p .fa-solid {
    display: none;
  }
  main .carte .entree p:hover .choix, main .carte .plats p:hover .choix, main .carte .desserts p:hover .choix {
    width: 100%;
    animation-duration: 3s;
    animation-name: retract;
  }
  @keyframes retract {
    from {
      width: 100%;
    }
    to {
      width: 92%;
    }
  }
  main .carte .entree p:hover .fond, main .carte .plats p:hover .fond, main .carte .desserts p:hover .fond {
    background-color: #99E2D0;
    width: 8%;
    display: flex;
    justify-content: center;
    border-radius: 0 30% 30% 0;
  }
  main .carte .entree p:hover .fond .fa-solid, main .carte .plats p:hover .fond .fa-solid, main .carte .desserts p:hover .fond .fa-solid {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    color: white;
    border-radius: 0 15% 15% 0;
    height: 100%;
    z-index: 3;
    animation-duration: 1s;
    animation-name: valid;
  }
  @keyframes valid {
    0% {
      margin-right: -100%;
    }
    10% {
      transform: rotate(0.1turn);
    }
    20% {
      transform: rotate(0.2turn);
    }
    30% {
      transform: rotate(0.3turn);
    }
    40% {
      transform: rotate(0.4turn);
    }
    50% {
      transform: rotate(0.5turn);
    }
    60% {
      transform: rotate(0.6turn);
    }
    70% {
      transform: rotate(0.7turn);
    }
    80% {
      transform: rotate(0.8turn);
    }
    90% {
      transform: rotate(0.9turn);
    }
    100% {
      margin-right: 0;
      transform: rotate(1turn);
      transition: transform 500ms ease-in;
    }
  }
  main .carte .entree p:hover .fond .acc, main .carte .plats p:hover .fond .acc, main .carte .desserts p:hover .fond .acc {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  main .carte .commande {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 10px;
    color: white;
    width: 60%;
    margin: 15px 50px 50px 50px;
  }
  main .carte .commande:hover {
    box-shadow: 0 6px 5px #FF79DA;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
