@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  body .logo img {
    width: 50%;
  }
  body .bouton {
    border: solid grey 1px;
    box-shadow: 0px -2px grey;
    width: 100%;
    padding: 3%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  body .bouton .fa-location-dot {
    margin-right: 10px;
  }
  body article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body article .titre {
    width: 60%;
    font-weight: 900;
    margin-bottom: 10px;
  }
  body article p {
    margin-bottom: 10px;
    text-align: center;
  }
  body article p:nth-child(even) {
    color: gray;
  }
  body article .explorer, body article main .commande, main body article .commande {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 8px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  body .liste h2 {
    font-weight: bold;
    font-size: large;
    margin-left: 15px;
  }
  body .liste ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .liste ul li {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 8px rgb(199, 196, 196);
    background-color: rgb(242, 236, 236);
  }
  body .liste ul li :hover .fa-solid {
    color: #9356DC;
  }
  body .liste ul li span {
    background-color: #9356DC;
    color: white;
    margin-left: -18px;
    margin-right: 15px;
    z-index: 5;
    border-radius: 50%;
    width: 9px;
    padding: 4px;
  }
  body .liste ul li .fa-solid {
    font-size: medium;
    color: gray;
    margin-right: 15px;
  }
  body .restaurants {
    background-color: rgb(242, 236, 236);
    padding: 30px 0 50px;
  }
  body .restaurants h2 {
    font-weight: bold;
    display: flex;
    font-size: large;
    margin-left: 19px;
    margin-bottom: 14px;
  }
  body .restaurants .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .restaurants .photo p {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 5px grey;
    position: relative;
  }
  body .restaurants .photo p .new {
    width: 60px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: #023f30;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  body .restaurants .photo p .tout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body .restaurants .photo p .tout .heart .fa-solid {
    display: none;
  }
  body .restaurants .photo p .tout .heart .fa-regular {
    display: block;
  }
  body .restaurants .photo p .tout .heart:hover .fa-solid {
    display: block;
    color: #9356DC;
    cursor: pointer;
  }
  body .restaurants .photo p .tout .heart:hover .fa-regular {
    display: none;
  }
  body .restaurants .photo p img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  body .restaurants .photo p .txt {
    padding: 10px;
  }
  body .restaurants .photo p strong {
    font-weight: 900;
  }

  footer {
    background-color: rgb(61, 61, 61);
    color: white;
  }
  footer h3 {
    font-family: "Shrikhand";
    margin: 10px 0 20px 10px;
  }
  footer li {
    margin: 10px 0 10px 10px;
  }

  .menuLogo {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
  }
  .menuLogo .fa-solid {
    font-size: large;
  }
  .menuLogo img {
    width: 60%;
  }

  main .back img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  main .carte {
    border-radius: 15px;
    border-top: 1px solid black;
  }
  main .carte h3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 10px;
    font-family: "Shrikhand";
  }
  main .carte h3 span {
    font-size: large;
    font-weight: 500;
  }
  main .carte h3 .fa-regular {
    font-size: x-large;
    color: rgb(96, 96, 96);
  }
  main .entree h4, main .desserts h4, main .plats h4 {
    padding-top: 10px;
    margin-left: 15px;
    width: 10%;
    border-bottom: #99E2D0 solid 3px;
  }
  main .entree p, main .desserts p, main .plats p {
    margin: 10px 5px 15px 5px;
    box-shadow: 1px 5px rgb(225, 224, 224);
    border: 1px solid rgb(255, 249, 249);
    border-radius: 10px;
    padding: 8px;
    font-size: x-small;
  }
  main .entree p strong, main .desserts p strong, main .plats p strong {
    font-weight: 600;
    font-size: small;
  }
  main .entree p span, main .desserts p span, main .plats p span {
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
  }
  main .commande {
    border-radius: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    padding: 10px;
    color: white;
    width: 60%;
    margin: 15px 50px 50px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
